.head-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.head-image {
	margin-top: 3rem;
	max-width: 90%;
}

.expanded {
	width: 350px;
}

.shrink {
	width: 200px;
}

.text {
	font-size: 1.75rem;
	font-weight: bold;
}
